NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_DEFAULT_ORGANIZATION_ID=8ea81f60-cf2a-417d-b86e-c618f773c6ed
NEXT_PUBLIC_CHROME_EXTENSION_URL=https://chrome.google.com/webstore/detail/EXTENSION_ID
NEXT_PUBLIC_EDGE_EXTENSION_URL=https://microsoftedge.microsoft.com/addons/detail/EXTENSION_ID
NEXT_PUBLIC_OPERA_EXTENSION_URL=https://addons.opera.com/extensions/details/EXTENSION_ID
NEXT_PUBLIC_EXTENSION_INSTALL_URL=https://chrome.google.com/webstore/detail/EXTENSION_ID
